.sign-in-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 400px;
    border-radius: 15px;
    background: var(--color-wrapper);
}

.sign-in-wrapper-enter {
    opacity: 0;
}

.sign-in-wrapper-enter-active {
    opacity: 1;
    transition: opacity 0.25s;
}

.sign-in-wrapper-exit {
    opacity: 1;
}

.sign-in-wrapper-exit-active {
    opacity: 0;
    transition: opacity 0.25s;
}
